*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item img{
    width: 100%;
    height: 95vh;
}

section img{
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.cat{
    text-decoration: underline;
    text-underline-position: under;
}

